$theme-colors: (
	'primary': #51BBFE,
	'primary-darker': #49a8e5,
	'success': #8FF7A7,
	'success-darker': #81de96, 
	'danger': #da4d2b,
	'warning': #F7FE72,
	'gold': #F4E76E,
	'info': #757761
);

$primary: #51BBFE;
$success: #8FF7A7;
$danger: #da4d2b;
$warning: #F7FE72;

$gray-100: #f8f8f8;
$gray-200: #f1f1f1;
$gray-400: #c7c7c7;
$gray-600: #8e8e8e;

$black: #010203;