@import '../../assets/scss/settings.scss';

.full-height {
	height: 100vh;
}

.fixed-right {
	position: fixed;
	top: 1rem;
	right: 1.2rem;
}

.stage {
	width: 90%;
	height: auto;
}

.error-card {
	background-color: $black;
	padding: 0.5rem;
	height: 20vh;

	p {
		// color: theme-color('success');
		font-family: consolas, monotype;
		width: 100%;
		height: calc(20vh-1rem);
		overflow: hidden;
		margin-bottom: 0;
	}
}